body {
}

.body-content {
	height: 600px;
}

#HomeBlogContainer {
    width: 48%;
    float: left;
    height: 500px;
	overflow-y: scroll;
	margin-top: 15px;
}

#HomeRSVPContainer {
    width: 48%;
    float: left;
    height: 125px;
	margin-left: 25px;
	margin-top: 15px;
}

#HomeRSVPContainer a {
    margin-left: 25%;
    margin-top: 25px;
    padding-top: 7px;
    width: 300px;
    height: 75px;
    font-size: 40px;
    font-weight: bold;
}

.carouselimage {
	width: 300px;
	margin-left: 29%;
}